body {
    background: linear-gradient(90deg, #0c1f24 0%, #121531 100%);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;  
    color: #fff;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}