.card {
    background-color: rgba(193, 224, 242, 0.8);
    display: flex;
    
}
.form-control, .form-select{
    background-color: rgba(250, 250, 250, 0.2);
}
input, select {
    cursor: pointer;
}
.logo {
    display: inline-block;
    width: 60px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 600px) {
    form .row {
        display: flex;
        flex-wrap: wrap;
        &:nth-child(2) {
            
        }
        .col {
            margin-bottom: 10px;
            flex: none;
            width: 100%;
        }
    }
}
